.checkbox {
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox svg {
  width: 1.1rem;
  height: 1.1rem;
  color: var(--blue);
  transition: color 0.2s;
}

.checkbox svg:hover {
  color: var(--blue-dark);
}

.checkbox svg.checked {
  color: var(--purple-dark);
  background: radial-gradient(var(--white) 40%, transparent 40%);
}

.checkbox svg.checked:hover {
  color: var(--purple);
}

.checkbox input {
  display: none;
}
