.checkbox {
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox svg {
  color: var(--blue);
}

.checkbox svg.checked {
  color: var(--purple);
  background: radial-gradient(var(--white) 40%, transparent 40%);
}

.checkbox input {
  display: none;
}
